:host {
  display: block;
  width: 8rem;
  padding: 1rem;
  background-color: #000000;
  color: #f77c5c;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  text-align: center;
}

em {
  display: inline-block;
  padding-bottom: 0.5rem;
  font-size: 3rem;
  font-weight: 700;
  font-style: unset;
}

button {
  background-color: #777777;
  color: #ffffff;
  font-weight: 700;
  border: none;
  border-radius: 0.25rem;
  text-transform: uppercase;

  &:active {
    position: relative;
    top: 1px;
  }

  &:first-child {
    margin-right: 1rem;
  }
}
